body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

nav {
  text-align: center;
  padding: 10px;
}

.hamburger{
  display: none;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
}

main {
  display: flex;
  justify-content: center;
}

.button {
  background-color: #555;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 1s;
}

.button:hover{
  background-color: red;
}

.container {
  display: flex;
  flex-direction: column;
  width: 900px;
}

.section {
  padding: 40px;
  background-color: #f1f1f1;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.section1 {
  display: flex;
  align-items: center;
  gap: 30px;
}

.section1 img {
  width: 50%;
  height: auto;
  border-radius: 10px;
}

.section1 h2 {
  font-size: 2.5rem;
}

.catGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.catGrid img {
  width: 100%;
  height: auto;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
@media (max-width: 760px){

  h1{
    font-size: 20px;
  }

  h2{
    text-align: center;
  }

  nav{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: #555;
    position: absolute;
    width: 92%;
    height: 50vh;
    margin-top: 485px;
    border-radius: 20px;
    
  }
  

  .hamburger{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }

  .hamburger__line{
    width: 30px;
    height: 2px;
    background-color: white;
  }

  .container{
    width: 100%;
  }

  .section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .section1 h2{
    font-size: 20px;
  }

  .section1 img{
    width: 100%;
  }

 img{
    width: 100%;
    transition: transform .2s;
  }

  img:hover{
    transform: scale(1.1);
  }

  p{
    font-size: 15px;
    text-align: center;
  }
}